<div class="login-form">

  <div class="login-container">
    <h1>Login</h1>
    <br>
    {{#if message }}
    <div class="alert alert-danger">{{ message }}</div>
    {{/if}}

    <form action="/auth/login" method="POST" id="form-container">
      <input class="input" id="username" type="text" name="username" placeholder="Username">

      <br>
      <br>

      <input class="input" id="password" type="password" name="password" placeholder="Your password">


      <br>
      <br>

      <button class="button">Login</button>

      <p class="account-message">
        Not registered yet?
        <a href="/auth/signup">Signup</a>
      </p>
    </form>
  </div>
</div>