<div class="login-form">
  <div class="login-container">
    <h1>Signup</h1>
    <br>
    <form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">

      {{#if message }}
      <div class="alert alert-danger">{{ message }}</div>
      {{/if}}

      <input class="input" id="username" type="text" name="username" {{#if usernameInput}}value={{usernameInput}}{{/if}}
        placeholder="Username">


      <br><br>
      <input class="input" id="password" type="password" name="password" placeholder="Password | min. 6 char">


      <br><br>
      <button class="button">Create account</button>


      <p class="account-message">
        What is in your fridge?
        <a href="/auth/login">Login</a>
      </p>
    </form>
  </div>
</div>