<div class="fullscreen-bg">
  <video loop muted autoplay class="fullscreen-bg__video">
    <source src="../images/cook.mp4" type="video/mp4">
  </video>
  {{!-- <video loop muted autoplay poster="../images/bg-home.png" class="fullscreen-bg__video">
    <source src="../images/cook.mp4" type="video/mp4">
  </video> --}}
</div>

<div class="top-home">

  <div class="title-home">

    <h1>CookNow</h1>
    <h2>Explore the force of your fridge.</h2>
    <br>
    <p>CookNow is an app which matches ingredients in your fridge with<br>
      the recipe database to find a perfect match for your dinner plans.</p>
    <br>
    <a class="btn btn-outline-danger" href="/auth/signup">Create your account</a>
  </div>
</div>

<br>
<div class="title">
</div>
<div class="flex-container">
  {{#each recipes}}
  <div class="each-recipe">
    <a href="/recipes/{{_id}}">
      <img src="{{image}}">
      <p>{{title}} | {{rating}}⋆</p>
    </a>
  </div>
  {{/each}}
</div>