// * {
//   margin: 0;
//   padding: 0;
// }

body {
  // color: white;
  // font-family: "Merriweather";
  font-family: "Space Mono", monospace;
  background-color: beige;

  position: relative;
  min-height: 100vh;
  padding-bottom: 4rem;
}

.fullscreen-bg {
  height: 80vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}

.top-home {
  // background-image: url("../images/bg-home.png");
  // background-size: cover;
  // filter: brightness(50%);

  // opacity: 0.5;
  // background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  // background-color: rgba(0, 0, 0, 0.2);

  height: 75vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // text-align: center;

  .title-home {
    // font-family: "Muli";

    color: white;

    // width: 40vw;
    // height: 35vh;

    margin-left: 10vw;
    h1 {
      // font-family: "Sacramento";
      // font-family: "Merriweather", cursive;
      font-family: "Libre Baskerville", cursive;
      // font-weight: bold;
      // font-family: "Pacifico", cursive;
      // font-family: "Zeyada", cursive;
      font-size: 5.5rem;
    }
    h2 {
      // font-family: "Libre Baskerville", cursive;
      font-size: 2rem;
    }
    p {
      font-size: 1.1rem;
    }
    a {
      color: white;
      border-color: white;
      font-size: 1.1rem;
    }
    a:hover {
      border: none;
    }
  }
}

.title {
  padding: 5vh 2vw 0;
  display: flex;
  img {
    border-radius: 50%;
    width: 7%;
    height: 7%;
  }
  a {
    text-decoration: none;
    color: black;
    // color: darkgray;
  }
  a:hover {
    color: gray;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;

  padding: 5vh 0;
  padding-left: 3vw;

  .each-recipe {
    // font-family: 14px "Merriweather";
    width: 17vw;
    height: 25vw;

    text-align: center;
    margin: 0 2vw 5vh 0;

    background-color: #f2bf35;
    // background-color: #35f2aa;
    // background-color: rgb(242, 191, 53);
    // opacity: 0.6;
    // filter:alpha(opacity=40);

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 250px;
    }
    p {
      // font-family: 14px "Merriweather";
      margin-top: 12px;
      color: black;
      font-size: 1.1rem;
      // background-color: rgb(242, 191, 53);
      // opacity: 0.6;
    }
  }

  a {
    text-decoration: none;
  }

  .each-recipe:hover {
    background-color: #faeeab;

    a {
      text-decoration: none;
    }
  }
}
.verticalLine {
  border-left: 2px solid #f2bf35;
  opacity: 0.3;
  height: 40px;
  margin: 0 2vw;
}

// recipes-view

.recipe-details-header {
  background-image: url("../images/header-create-recipe.jpg");
  background-size: cover;
  height: 11rem;
}

.recipe-layout-container {
  margin-top: 5vw;
  margin-bottom: 1rem;
  padding-left: 9vw;
  padding-right: 10vw;
  h3 {
    // font-style: bold;
  }
  .recipe-layout {
    padding: 4vh 4vw;
    .recipe-title {
      text-justify: center;
      padding-bottom: 2vh;
    }
  }

  .recipe-img-container {
    background-color: #dadada;
    margin-bottom: 2rem;
    padding: 0;
    img {
      width: 100%;
    }
  }

  .recipe-img-container-detail {
    background-color: white;
    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

//

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}
