* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Space Mono", monospace;
  background-color: #f5f5dc;
  position: relative;
  min-height: 100vh;
  padding-bottom: 4rem; }

.fullscreen-bg {
  height: 80vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100; }

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(70%); }

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.top-home {
  height: 75vh;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .top-home .title-home {
    color: white;
    margin-left: 10vw; }
    .top-home .title-home h1 {
      font-family: "Libre Baskerville", cursive;
      font-size: 5.5rem; }
    .top-home .title-home h2 {
      font-size: 2rem; }
    .top-home .title-home p {
      font-size: 1.1rem; }
    .top-home .title-home a:hover {
      border: none; }

.title {
  display: flex; }
  .title img {
    border-radius: 50%;
    width: 7%;
    height: 7%; }
  .title a {
    text-decoration: none;
    color: black; }
  .title a:hover {
    color: gray; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 3vw; }
  .flex-container .each-recipe {
    width: 17vw;
    text-align: center;
    margin: 0 2vw 5vh 0;
    background-color: #f2bf35; }
    .flex-container .each-recipe img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 250px; }
    .flex-container .each-recipe p {
      margin-top: 12px;
      color: black;
      font-size: 1.1rem; }
  .flex-container .each-recipe:hover {
    background-color: #faeeab; }
    .flex-container .each-recipe:hover a {
      text-decoration: none; }

.verticalLine {
  border-left: 2px solid #f2bf35;
  opacity: 0.3;
  height: 40px;
  margin: 0 2vw; }

.recipe-img {
  width: 100%; }

.recipe-layout-container {
  margin-top: 5vw;
  margin-bottom: 1rem;
  padding-left: 9vw;
  padding-right: 10vw; }
  .recipe-layout-container .recipe-layout {
    padding: 4vh 4vw; }
    .recipe-layout-container .recipe-layout .recipe-title {
      text-justify: center;
      padding-bottom: 2vh; }
  .recipe-layout-container .recipe-img-container {
    background-color: #dadada;
    margin-bottom: 2rem;
    padding: 0; }
    .recipe-layout-container .recipe-img-container img {
      width: 100%; }
  .recipe-layout-container .recipe-img-container-detail img {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.login-form {
  background-image: url("../images/bg-home.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: black; }
  .login-form .login-container {
    padding-top: 10vh;
    padding-left: 0vw;
    margin: 0; }
  .login-form .input {
    border: 0;
    background: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #f2bf35;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 25px;
    transition: 0.5s; }
  .login-form .input:focus {
    width: 280px;
    border-color: #f2bf35; }
  .login-form .button {
    border: 0;
    background: none;
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    border: 2px solid #f2bf35;
    padding: 14px 2vw;
    outline: none;
    color: black;
    background-color: #f2bf35;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s; }
  .login-form .button:hover {
    background: #f5f5dc; }

.food-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 1vw;
  padding-right: 2vw;
  text-align: justify; }
  .food-container .button {
    border: 0;
    background: none;
    display: block;
    margin: 0 auto 10px;
    text-align: center;
    border: 2px solid #dc3545;
    padding: 14px 2vw;
    outline: none;
    color: #dc3545;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s; }
  .food-container .button:hover {
    background: #dc3545;
    color: white; }

@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto; } }

@media (max-aspect-ratio: 16 / 9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%; } }

@media (min-width: 576px) {
  #ingredient-display {
    padding-right: 30%; } }

@media (max-width: 576px) {
  .flex-container {
    justify-content: start;
    margin-left: 2vw; }
    .flex-container .each-recipe {
      display: inline-block;
      width: 45%;
      width: 45vw; }
      .flex-container .each-recipe img {
        height: 45vw; }
  .login-form {
    height: 80vh; }
  .login-form > .login-container {
    width: 100vw;
    padding: 10vw; }
  .food-container {
    width: 100vw;
    text-align: left; }
  .top-home {
    background-image: url("../images/bg-home3.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    justify-content: flex-start; }
    .top-home .title-home {
      height: 50vh;
      margin-left: 10vw; }
      .top-home .title-home h1 {
        font-size: 1.8rem; }
      .top-home .title-home h2 {
        font-size: 1.2rem; }
      .top-home .title-home p {
        display: none; }
  .search-header {
    padding-right: 10vw; }
  .title > img {
    border-radius: 50%;
    width: 25%;
    margin-left: 10px; } }

/*# sourceMappingURL=style.css.map */