<br>
<h2>My Fridge</h2>
<style type="text/css">
  h2 {
    color: black;
    padding: 10px 5px 15px 20px;
  }
</style>

<div class="food-form">

  <div class="food-container">
    <form action="/ingredients" method="POST">
      {{#each ingredients}}
      {{#each name}}

      <label class="checkbox p-2 m-2 btn-warning rounded-pill">
        <input type="checkbox" id="checkbox_id" name="keywords" value="{{this}}">&nbsp;{{this}}
      </label>
      <span class="checkmark"></span>
      <i class="fas fa-utensils"></i>
      {{/each}}
      {{/each}}
      <br>
      <br>
      <button class="button">Match</button>
    </form>
  </div>

</div>