<h1>My Fridge</h1>

<div class="container">
  <form action="/ingredients" method="POST">
  {{#each ingredients}}
  {{#each name}}
   <label class="p-2"> <input type="checkbox" id="checkbox_id" name="keywords" value="{{this}}">{{this}}</label>
  {{/each}}
  {{/each}}
  <a href="/recipe/match"><button type="submit">Match</button></a>
   </form>
</div>
