<h1>My Fridge</h1>

<div class="container">
  <form action="/ingredients" method="POST">
  {{#each ingredients}}
  {{#each name}}
    <input type="checkbox" id="name" name="keywords" value="{{this}}">
    <label for="ingredients">{{this}}</label><br>
  {{/each}}
  {{/each}}
  <a href="/recipe/match"><button type="submit">Match</button></a>
   </form>
</div>
